/*Simple reset*/
*{
    margin: 0;
    padding: 0;
}

/*Text format*/

p{
    font-size: 1.04rem;
    line-height: 1.5;
}

/*Header*/

header p{
    color: #6c757d;
}

.contact ul {
    list-style-type: none;
    line-height: 1.5;
}

.contact a{
    text-decoration: none;
    color: #fff;
}

.contact a:hover{
    text-decoration: underline;
}

.back{
    padding: 2em 0;
    width: 100%;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content:center;

}

.container{
    padding-right: 4em;
    width: 70vw;
    color: #fff;
    display: flex;
    gap: 7em;
}

.container h2{
    color: #fff;
    padding-bottom: 0.5em;
}

.about{
    width: 50vw;
}

.container2{
    color: #fff;
    background-color: #343a40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-left: 9vw;
}

.menu-button{
    border: solid #6c757d 1px;
    border-radius: 4px;
    margin-right: 5em;
    background-image: url("../images/menuclipart.png");
    height: 36px;
    width: 48px;
    background-size: 48px;
    background-repeat: no-repeat;
} /*I couldn't figure out how to make the header collapse but I think the layout is pretty decent*/

.menu-button:hover{
    cursor: pointer;
}

.container2 h2{
    background-image: url("../images/cameraicon.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 1.4rem;
    margin-left: 1.4rem;
}

/*Main*/

/*Example*/

.example{
    padding: 6em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.example section {
    display: flex;
    gap: .5em;
}

.example p{
    width: 40vw;

}

.example a{
    text-decoration: none;
    color: #fff;
    border-spacing:inherit;
    border: solid #6c757d 1px;
    border-radius: 4px;
    padding: 0.5em;
    background-color: #6c757d;
}

.example a:nth-of-type(1){
    border-color: #007bff;
    background-color: #007bff;
}

.example a:hover{
    background-color: #565c61;
}

.example a:nth-of-type(1):hover{
    background-color: #0375ee;
}

/*Sections*/

.main-content section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 340px;
    background-color: #fff;
    margin: 2em 0;
    border-spacing:inherit;
    border: solid #6c757d 1px;
    border-radius: 4px;
}

.info {
    padding: 0em 1em 1em;
}

.small-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.button-container {
    display: flex;
    border-top: solid #6c757d 1px;
    border-bottom: solid #6c757d 1px;
    border-right: solid #6c757d 1px;
    border-radius: 2px;
}

section button {
    color:#565c61;
    background-color: #fff;
    border: none;
    border-left: solid #6c757d 1px;
    padding: 0.5em;
}

section button:hover{
    cursor:pointer;
    background-color: #6c757d;
    color:#fff;
    transition: 0.3s;
}

.main-content img {
    width: 100%;
}

/*Sections Layout*/

.main-content{
    width:100%;
    display:flex;
    justify-content: center;
    background-color: #f8f9fa;
}

.content-container{
    display: grid;
    grid-template-rows: 65vh 65vh 65vh;
    grid-template-columns: 32vw 32vw 32vw;
    justify-items: center;
}

@media (min-width: 1400px){
    .content-container{
        grid-template-columns: 25vw 25vw 25vw;
    }
    .container2{
        padding-left: 10vw;
    }
    .menu{
        margin-right: 10vw;
    }
}

/*Footer*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 2em;
}

footer a{
    text-decoration: none;
}